<%-include('header')%>

<h2>Editar categoria:
    <a href="/admin/categorias">Categorias</a>
</h2>

<div>
    <form method ="POST">
        <label>Título da categoria:</label>
        <input type="text" name="categoria">
        <br>
        <button>Editar categoria</button>
    </form>
</div>

<%-include('footer')%>