
        
        <%-include('header')%>
        
            
        
        <h2>Admin:</h2>
        
        <div>
            
            <ul> 
                <li><a href="/admin/categorias"</a> Gerenciar categorias</a></li>  
                <li><a href="/admin/vagas"</a> Gerenciar vagas</a></li>  
            </ul>
        </div>
        
        
        <%-include('footer')%>